# prevent HDD spindown
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sdb", RUN+="/usr/sbin/hdparm -B 254 -S 0 /dev/sdb"
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sdc", RUN+="/usr/sbin/hdparm -B 254 -S 0 /dev/sdb"
