[Unit]
Description=mpDris2 - Music Player Daemon D-Bus bridge
After=mpd.service
Requires=mpd.service

[Service]
ExecStart=/usr/bin/mpDris2
BusName=org.mpris.MediaPlayer2.mpd

[Install]
WantedBy=default.target
# WantedBy=daemon.target
